<% provide(:title, "収支編集") %>
<%= form_with model: @transaction, url: event_transaction_path(event_id: @event.id, url_token: @transaction.url_token) do |f| %>
  <p class="text1">イベント編集</p>

  <%= f.label :deadline, "支払い締切", class: "text2" %>
  <%= f.date_field :deadline, class: "box2" %>

  <%= f.label :debt, "支払うべき額", class: "text3" %>
  <%= f.number_field :debt, class: "box3" %>

  <%= f.label :payment, "支払った額", class: "text3" %>
  <%= f.number_field :payment, class: "box3" %>

  <%= f.submit "作成", class: "button1" %>
<% end %>
