<% provide(:title, "プロフィール") %>
<div class="sidebar-fixed container-scroller" style="background-color: rgb(44, 44, 44);">
  <%= render 'shared/sidebar' %>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_navbar.html -->
    <%= render 'shared/topbar' %>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="page-header">
          <h3 class="page-title"> プロフィール情報 </h3>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">マイページ</a></li>
              <li class="breadcrumb-item active" aria-current="page">プロフィール</li>
            </ol>
          </nav>
        </div>
        <div class="row">
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body" style="background-color: rgb(255, 255, 255); color: #000;">
                <h4 class="card-title" >プロフィール設定</h4>
                <p class="card-description">Horizontal bootstrap tab</p>
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home-1" role="tab" aria-controls="home" aria-selected="true">プロフィール設定</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile-1" role="tab" aria-controls="profile" aria-selected="false">パスワード設定</a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="home-1" role="tabpanel" aria-labelledby="home-tab">
                    <h3>プロフィール設定</h3>
                    <section>
                      <%= form_for(resource, as: resource_name, url: registration_path(resource_name),　class: "forms-sample", html: { method: :put }) do |f| %>
                        <%= render "devise/shared/error_messages", resource: resource %>
                        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                          <div>現在<<%= resource.unconfirmed_email %>>の確認待ちです。</div>
                        <% end %>
                        <div class="form-group row">
                          <%= f.label :name, "氏名", class: "col-sm-3 col-form-label" %>
                          <div class="col-sm-9">
                            <%= f.text_field :name, class: "form-control", placeholder: '氏名', style: "color: white;" %>
                          </div>
                        </div>

                        <div class="form-group row">
                          <%= f.label :furigana, "フリガナ", class: "col-sm-3 col-form-label" %>
                          <div class="col-sm-9">
                            <%= f.text_field :furigana, class: "form-control", placeholder: 'フリガナ', style: "color: white;" %>
                          </div>
                        </div>

                        <div class="form-group row">
                          <%= f.label :email, "メールアドレス", class: "col-sm-3 col-form-label" %>
                          <div class="col-sm-9">
                            <%= f.email_field :email, class: "form-control", placeholder: 'メールアドレス', style: "color: white;" %>
                          </div>
                        </div>

                        <div class="form-group row">
                          <%= f.label :grade, "学年", class: "col-sm-3 col-form-label" %>
                          <div class="col-sm-9">
                            <% grades = [] %>
                            <% 6.times do |i| %>
                              <% grades << ["#{i + 1}年生", "grade#{i + 1}"] %>
                            <% end %>
                            <% grades << ['その他', 'other'] %>
                            <%= f.select :grade, grades, {}, { class: "form-control", style: "color: white;" } %>
                          </div>
                        </div>

                        <div class="form-group row">
                          <%= f.label :password, 'パスワード', class: "col-sm-3 col-form-label" %>
                          <div class="col-sm-9">
                            <%= f.password_field :password, class: "form-control", style: "color: white;" %>
                            <small class="form-text text-muted">内容の変更にはパスワードが必要です。</small>
                          </div>
                        </div>
                        <%= f.submit '変更', class: "btn btn-primary mr-2" %>
                        <%= link_to 'リセット', edit_user_registration_path, class: "btn btn-dark" %>
                      <% end %>
                    </section>
                  </div>

                  <div class="tab-pane fade" id="profile-1" role="tabpanel" aria-labelledby="profile-tab">
                    <h3>パスワード設定</h3>
                    <section>
                      <%= form_for(resource, as: resource_name, url: registration_path(resource_name),　class: "forms-sample", html: { method: :put }) do |f| %>
                        <%= render "devise/shared/error_messages", resource: resource %>
                        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                          <div>現在<<%= resource.unconfirmed_email %>>の確認待ちです。</div>
                        <% end %>
                        <div class="form-group row">
                          <%= f.label :password, '新しいパスワード', class: "col-sm-3 col-form-label" %>
                          <div class="col-sm-9">
                            <%= f.password_field :password, class: "form-control", style: "color: white;" %>
                          </div>
                        </div>
                        <div class="form-group row">
                          <%= f.label :password_confirmation, '新しいパスワード(確認)', class: "col-sm-3 col-form-label" %>
                          <div class="col-sm-9">
                            <%= f.password_field :password_confirmation, class: "form-control", style: "color: white;" %>
                          </div>
                        </div>
                        <div class="form-group row">
                          <%= f.label :current_password, '現在のパスワード', class: "col-sm-3 col-form-label" %>
                          <div class="col-sm-9">
                            <%= f.password_field :current_password, class: "form-control", style: "color: white;" %>
                            <small class="form-text text-muted">内容の変更にはパスワードが必要です。</small>
                          </div>
                        </div>
                        <%= f.submit '変更', class: "btn btn-primary mr-2" %>
                        <%= link_to 'リセット', edit_user_registration_path, class: "btn btn-dark" %>
                      <% end %>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
      <%= render 'shared/footer' %>
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<script>
</script>
