<% provide(:title, "サークル情報") %>
<% content_for :pack_tag do %>
  <%= javascript_pack_tag 'groups/edit' %>
  <%= stylesheet_pack_tag 'groups/edit' %>
<% end %>

<%= render 'shared/topbar' %>

<div class="box-option" date-step="1" data-intro='ここではサークルにかかわる情報が変更できます。'>
  <p class="text1">サークル情報</p>
  <%= form_for(@group) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="box-border-L"></div>

      <%#= f.label :name, "サークル名" %>
      <div date-step="2" data-intro='表示されるあなたのサークルの名前'>
        <%= f.text_field :name, class: 'box-text', placeholder: "サークル名" %>
      </div>

      <%#= f.label :email, " 代表者メールアドレス" %>
      <div date-step="4" data-intro='代表者メールアドレスを変更することができます'>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'box-text', placeholder: "代表者のメールアドレス" %>
      </div>

      <input type="text" class="box-text"  placeholder="支払いPayPalアカウント"
      date-step="5"
      data-intro='注意してください。支払いPaypalアカウントは幹事の人しか選ぶことができません。
      また支払いPaypalアカウントとして登録されてる幹事は幹事をやめることができません。'>

      <%#= f.label :group_number, "グループID(6~25文字)" %>
      <div date-step="6" data-intro='あなたのサークルに誰かを加盟させたい場合に必要となるIDです。'>
        <%= f.text_field :group_number, class: 'box-text', placeholder: "サークルID" %>
      </div>

      <%= f.submit "保存"%>
  <% end %>
</div>

<div class="box-member"
     date-step="7"
     data-intro='幹事はメンバーの追加をすることができます。'>
  <div class="box-border-S"></div>
  <p class="text2">設定</p>

  <div class="box8"
      date-step="8"
      data-intro='一括登録を押すと必要ファイルがダウンロードされ'>
    <p class="text8">一括登録</p>
  </div>
  <div class="box17"
      date-step="9"
      data-intro='提出ボタンで情報が提出され登録が行えます。'></div>

  <%= form_with url: invite_group_path(id: @group.id) do |f| %>
    <div class="box9"
        date-step="10"
        data-intro='メンバー招待では指定したメールアドレスに招待メールを通知できます。'>
        <p><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: '招待者のメールアドレス', class: "text9" %></p>
    </div>
    <%= f.submit "招待する", class: "box18" %>
  <% end %>

</div>

<div class="box-succession"
     date-step="11"
     data-intro='引継ぎはあなた以外のメンバーを選び幹事を引き継ぎます。
     引継ぎ完了後あなたは幹事情報にアクセスできなくなってしまうので注意してください。'>
  <div class="box-border-S"></div>
  <p class="text11">引継ぎ</p>
  <%= form_with url: inherit_group_path(group_id: @group.id) do |f| %>
    <%= f.select :new_executive,
      options_from_collection_for_select(@generals, :id, :name),
      {
        prompt: "選択できます"
      }, class: 'box10'
    %>
    <%= f.submit "引継ぐ", class: "button2" %>
  <% end %>
</div>

<div class="box-assign"
     date-step="12"
     data-intro='任命ではあなた以外の誰かを幹事に任命できます。'>
  <div class="box-border-S"></div>
  <p class="text12">任命</p>
  <% if @executives.count <= 7 %>
    <%= form_with url: assign_group_path(group_id: @group.id) do |f| %>
      <%= f.select :new_executive,
        options_from_collection_for_select(@generals, :id, :name),
        {
          prompt: "選択できます"
        }, class: 'box14'
      %>
      <%= f.submit "任命", class: "button3" %>
    <% end %>
  <% else %>
    <p class='box14'>現在幹事が８名いるため任命できません</p>
  <% end %>
</div>
<!-- delete, patchは一旦おいておく-->
<div class="box-declinature"
     date-step="13"
     data-intro='辞退するとあなたは幹事ではなくなります。'>
  <div class="box-border-S"></div>
  <p class="text13">辞退</p>
  <% unless @executives.count == 1 %>
    <%= link_to "辞退", resign_group_path(group_id: @group.id), method: :patch, class: 'button4' %>
  <% else %>
    <p class='box15'>現在幹事が１名しかいないため辞退できません</p>
  <% end %>
</div>

<%= render 'shared/sidebar' %>
<%= render 'shared/menu' %>
