<% provide(:title, "サークルページ") %>
<% content_for :pack_tag do %>
  <%= javascript_pack_tag 'groups/show' %>
  <%= stylesheet_pack_tag 'groups/show' %>

  <!-- jQuery読み込み
  <link href='../fullcalendar-4.3.1/packages/core/main.css' rel='stylesheet' />
  <link href='../fullcalendar-4.3.1/packages/daygrid/main.css' rel='stylesheet' />
  <link href='../fullcalendar-4.3.1/packages/timegrid/main.css' rel='stylesheet' />
  <script src='../fullcalendar-4.3.1/packages/core/main.js'></script>
  <script src='../fullcalendar-4.3.1/packages/interaction/main.js'></script>
  <script src='../fullcalendar-4.3.1/packages/daygrid/main.js'></script>
  <script src='../fullcalendar-4.3.1/packages/timegrid/main.js'></script>
  <script>

    document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: [ 'interaction', 'dayGrid', 'timeGrid' ],
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay'
      },
      defaultDate: '2020-03-12',
      navLinks: true, // can click day/week names to navigate views
      selectable: true,
      selectMirror: true,
      select: function(arg) {
        var title = prompt('Event Title:');
        if (title) {
          calendar.addEvent({
            title: title,
            start: arg.start,
            end: arg.end,
            allDay: arg.allDay
          })
        }
        calendar.unselect()
      },
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: [

      ]
    });

    calendar.render();
    });

  </script>
  -->
<% end %>

<%= render 'shared/topbar' %>

<div class="box-calender" date-step="1" data-intro='カレンダーにはサークル内のイベントが自動で登録されています。また書き込みたい日時をクリックすると拡大します。'>
  <div id='calendar'></div>
</div>

<div class="box-statistic" date-step="2" data-intro='統計情報はサークルの総合出席率が表示されています。クリックすることでより詳細を確認することができます。'>
  <div style="position:absolute;
              top: 50%;                    /* 親要素の半分下にずらす */
              left: 50%;                   /* 親要素の半分右にずらす */
              width: 170%;
              transform: translateY(-50%) translateX(-50%);    /* 要素自体の半分、上と左にずらす */
              padding: 20px;               /* 余白指定 */">
    <canvas id="attend"></canvas>
  </div>
  <%= link_to '統計情報', statistics_group_path(@group), class: "text1" %>
</div>

<div class="box-deposit" date-step="3" data-intro='デポジットの内訳を確認できます。クリックすることでデポジット残高を確認できます。'>
  <div style="position:absolute;
              top: 50%;                    /* 親要素の半分下にずらす */
              left: 50%;                   /* 親要素の半分右にずらす */
              width: 170%;
              transform: translateY(-50%) translateX(-50%);    /* 要素自体の半分、上と左にずらす */
              padding: 20px;               /* 余白指定 */">
    <canvas id="Balance"></canvas>
  </div>
  <%= link_to 'デポジット', deposit_group_path(@group), class: "text2" %>
</div>

<div class="box-event"　date-step="4" data-intro='イベント情報には直近のイベントが表示されます。'>
  <div class="box-border"></div>
  <%= link_to 'イベント情報', group_events_path(group_id: @group.id), class: "text3" %>
  <% if @events.any? %>
    <% @events.each do |event| %>
      <%= link_to event.name, group_event_path(group_id: @group.id, id: event.id), class: "datebox" %>
    <% end %>
    <%= paginate @events %>
  <% end %>
  <button class="button1">
    <%#= image_pack_tag("chevron-left.svg", class: "img-ball") %>
  </button>
  <button class="button2">
    <%#= image_pack_tag("chevron-right.svg", class: "img-ball") %>
  </button>
</div>

<%= render 'shared/sidebar' %>
<%= render 'shared/menu' %>

<script>
  new Chart(document.getElementById("attend"), {
    type: "doughnut",
    data: {
      labels: ["出席", "欠席", "未回答"],
      datasets: [
        {
          data: [500, 50, 200],
          backgroundColor: [
            "rgb(54, 162, 235)",
            "rgb(255, 99, 132)",
            "rgb(255, 205, 86)"
          ]
        }
      ]
    }
  });
  new Chart(document.getElementById("Balance"), {
    type: "doughnut",
    data: {
      labels: ["準備金", "剰余デポジット"],
      datasets: [
        {
          data: [900, 300],
          backgroundColor: [
            "rgb(54, 162, 235)",
            "rgb(255, 99, 132)",

          ]
        }
      ]
    }
  });
</script>
