<!-- グループの詳細ページ 
　　　・グループ内のユーザー一覧-->
<h1><%= @group.name %></h1>
<% if @executives.include?(current_user) %>
  <h2>幹事用機能</h2>
  <p><%= link_to "グループ設定", edit_group_path(@group.id) %></p>
  <p><%= link_to "一括登録する", new_group_user_path(group_id: @group.id) %></p>
  <p><%#= link_to "共有する", share_group_users_path(format: :csv, group_id: @group.id) %></p>
  <hr>
<% end %>
<h2>メンバー</h2>
<p>幹事：</p>
<% if @executives.any? %>
  <% @executives.each do |executive| %>
    <p><%= link_to executive.name, user_path(executive.id) %></p>
  <% end %>
<% end %>
<p>一般ピーポー：</p>
<% if @generals.any? %>
<% @generals.each do |general| %>
  <p><%= link_to general.name, user_path(general.id) %></p>
<% end %>
<% end %>
<hr>
<h2>イベント</h2>
<% if @events.any? %>
<% @events.each do |event| %>
  <p><%= link_to event.name, group_event_path(group_id: event.group_id, id: event.id) %></p>
<% end %>
<% end %>