<% @users.each do |user| %>
  <% group = Group.find(user.group_id) %>
  <p><%= user.id %></p>
  <p><%= user.name %></p>
  <p><%= user.email %></p>
  <p><%= user.password %></p>
  <% if group %>
    <p><%= group.name %></p>
  <% end %>
<% end %>