<h2><%= @group.name %></h2>
<p><%= link_to "共有する", share_path(format: :csv), class: "btn btn-primary" %></p>
<% @users.each do |user| %>
  <p><%= user.id %></p>
  <p><%= user.name %></p>
  <p><%= user.email %></p>
<% end %>