<% provide(:title, "メンバー情報") %>
<div class="sidebar-fixed container-scroller" style="background-color: rgb(44, 44, 44);">
  <%= render 'shared/sidebar' %>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_navbar.html -->
    <%= render 'shared/topbar' %>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="page-header">
          <h3 class="page-title"> メンバー一覧 </h3>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">サークルページ</a></li>
              <li class="breadcrumb-item active" aria-current="page">メンバー一覧</li>
            </ol>
          </nav>
        </div>
        <div class="card">
          <div class="card-body" style="background-color: rgb(255, 255, 255); color: #000;">
            <h4 class="card-title">メンバー設定</h4>
            <p class="card-description">Horizontal bootstrap tab</p>
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home-1" role="tab" aria-controls="home" aria-selected="true">1年生</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile-1" role="tab" aria-controls="profile" aria-selected="false">2年生</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact-1" role="tab" aria-controls="contact" aria-selected="false">3年生</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contact2-tab" data-toggle="tab" href="#contact-2" role="tab" aria-controls="contact2" aria-selected="false">4年生</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contact2-tab" data-toggle="tab" href="#contact-3" role="tab" aria-controls="contact2" aria-selected="false">5年生</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contact2-tab" data-toggle="tab" href="#contact-4" role="tab" aria-controls="contact2" aria-selected="false">6年生</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contact2-tab" data-toggle="tab" href="#contact-5" role="tab" aria-controls="contact2" aria-selected="false">その他</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade show active" id="home-1" role="tabpanel" aria-labelledby="home-tab">
                <h3>1年生</h3>
                <section>
                  <h4 class="card-title">メンバー一覧</h4>
                  <div class="row">
                    <div class="col-12">
                      <div class="table-responsive">
                        <table id="order-listing" class="table">
                          <thead>
                            <tr>
                              <th>名前</th>
                              <th></th>
                              <th>学年?</th>
                              <th></th>
                              <th>性別</th>
                              <th></th>
                              <th>ステータス</th>
                              <th>削除</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% if @members1.try(:any?) %>
                              <% @members1.each do |member| %>
                                <tr>
                                  <td><%= member.name %></td>
                                  <td></td>
                                  <td>?</td>
                                  <td></td>
                                  <td><%= member.gender %></td>
                                  <td></td>
                                  <td>
                                    <% if member.executive?(@group) %>
                                      <label class="badge badge-info">幹事</label>
                                    <% else %>
                                      <label class="badge badge-danger">メンバー</label>
                                    <% end %>
                                  </td>
                                  <td>
                                    <button class="btn btn-outline-primary">削除</button>
                                  </td>
                                </tr>
                              <% end %>
                            <% end %>
                          </tbody>
                        </table>
                        <%= paginate @members1 if @members1.try(:any?) %>
                      </div>
                    </div>
                  </div>
                </section>
              </div>

              <div class="tab-pane fade" id="profile-1" role="tabpanel" aria-labelledby="profile-tab">
                <h3>2年生</h3>
                <section>
                  <h4 class="card-title">メンバー一覧</h4>
                  <div class="row">
                    <div class="col-12">
                      <div class="table-responsive">
                        <table id="order-listing" class="table">
                          <thead>
                            <tr>
                              <th>名前</th>
                              <th></th>
                              <th>学年</th>
                              <th></th>
                              <th>性別</th>
                              <th></th>
                              <th>ステータス</th>
                              <th>編集</th>
                            </tr>
                          </thead>
                          <% if @members2.try(:any?) %>
                              <% @members2.each do |member| %>
                                <tr>
                                  <td><%= member.name %></td>
                                  <td></td>
                                  <td>?</td>
                                  <td></td>
                                  <td><%= member.gender %></td>
                                  <td></td>
                                  <td>
                                    <% if member.executive?(@group) %>
                                      <label class="badge badge-info">幹事</label>
                                    <% else %>
                                      <label class="badge badge-danger">メンバー</label>
                                    <% end %>
                                  </td>
                                  <td>
                                    <button class="btn btn-outline-primary">削除</button>
                                  </td>
                                </tr>
                              <% end %>
                            <% end %>
                        </table>
                        <%= paginate @members2 if @members2.try(:any?) %>
                      </div>
                    </div>
                  </div>
                </section>
              </div>

              <div class="tab-pane fade" id="contact-1" role="tabpanel" aria-labelledby="contact-tab">
                <h3>3年生</h3>
                <section>
                  <h4 class="card-title">メンバー一覧</h4>
                  <div class="row">
                    <div class="col-12">
                      <div class="table-responsive">
                        <table id="order-listing" class="table">
                          <thead>
                            <tr>
                              <th>名前</th>
                              <th></th>
                              <th>学年</th>
                              <th></th>
                              <th>性別</th>
                              <th></th>
                              <th>ステータス</th>
                              <th>編集</th>
                            </tr>
                          </thead>
                          <% if @members3.try(:any?) %>
                            <% @members3.each do |member| %>
                              <tr>
                                <td><%= member.name %></td>
                                <td></td>
                                <td>?</td>
                                <td></td>
                                <td><%= member.gender %></td>
                                <td></td>
                                <td>
                                  <% if member.executive?(@group) %>
                                    <label class="badge badge-info">幹事</label>
                                  <% else %>
                                    <label class="badge badge-danger">メンバー</label>
                                  <% end %>
                                </td>
                                <td>
                                  <button class="btn btn-outline-primary">削除</button>
                                </td>
                              </tr>
                            <% end %>
                          <% end %>
                        </table>
                        <%= paginate @members3 if @members3.try(:any?) %>
                      </div>
                    </div>
                  </div>
                </section>
              </div>

              <div class="tab-pane fade" id="contact-2" role="tabpanel" aria-labelledby="contact2-tab">
                <h3>4年生</h3>
                <section>
                  <h4 class="card-title">メンバー一覧</h4>
                  <div class="row">
                    <div class="col-12">
                      <div class="table-responsive">
                        <table id="order-listing" class="table">
                          <thead>
                            <tr>
                              <th>名前</th>
                              <th></th>
                              <th>学年</th>
                              <th></th>
                              <th>性別</th>
                              <th></th>
                              <th>ステータス</th>
                              <th>編集</th>
                            </tr>
                          </thead>
                          <% if @members4.try(:any?) %>
                            <% @members4.each do |member| %>
                              <tr>
                                <td><%= member.name %></td>
                                <td></td>
                                <td>?</td>
                                <td></td>
                                <td><%= member.gender %></td>
                                <td></td>
                                <td>
                                  <% if member.executive?(@group) %>
                                    <label class="badge badge-info">幹事</label>
                                  <% else %>
                                    <label class="badge badge-danger">メンバー</label>
                                  <% end %>
                                </td>
                                <td>
                                  <button class="btn btn-outline-primary">削除</button>
                                </td>
                              </tr>
                            <% end %>
                          <% end %>
                        </table>
                        <%= paginate @members4 if @members4.try(:any?) %>
                      </div>
                    </div>
                  </div>
                </section>
              </div>

              <div class="tab-pane fade" id="contact-3" role="tabpanel" aria-labelledby="contact3-tab">
                <h3>5年生</h3>
                <section>
                  <h4 class="card-title">メンバー一覧</h4>
                  <div class="row">
                    <div class="col-12">
                      <div class="table-responsive">
                        <table id="order-listing" class="table">
                          <thead>
                            <tr>
                              <th>名前</th>
                              <th></th>
                              <th>学年</th>
                              <th></th>
                              <th>性別</th>
                              <th></th>
                              <th>ステータス</th>
                              <th>編集</th>
                            </tr>
                          </thead>
                          <% if @members5.try(:any?) %>
                            <% @members5.each do |member| %>
                              <tr>
                                <td><%= member.name %></td>
                                <td></td>
                                <td>?</td>
                                <td></td>
                                <td><%= member.gender %></td>
                                <td></td>
                                <td>
                                  <% if member.executive?(@group) %>
                                    <label class="badge badge-info">幹事</label>
                                  <% else %>
                                    <label class="badge badge-danger">メンバー</label>
                                  <% end %>
                                </td>
                                <td>
                                  <button class="btn btn-outline-primary">削除</button>
                                </td>
                              </tr>
                            <% end %>
                          <% end %>
                        </table>
                        <%= paginate @members5 if @members5.try(:any?) %>
                      </div>
                    </div>
                  </div>
                </section>
              </div>

              <div class="tab-pane fade" id="contact-4" role="tabpanel" aria-labelledby="contact4-tab">
                <h3>6年生</h3>
                <section>
                  <h4 class="card-title">メンバー一覧</h4>
                  <div class="row">
                    <div class="col-12">
                      <div class="table-responsive">
                        <table id="order-listing" class="table">
                          <thead>
                            <tr>
                              <th>名前</th>
                              <th></th>
                              <th>学年</th>
                              <th></th>
                              <th>性別</th>
                              <th></th>
                              <th>ステータス</th>
                              <th>編集</th>
                            </tr>
                          </thead>
                          <% if @members6.try(:any?) %>
                            <% @members6.each do |member| %>
                              <tr>
                                <td><%= member.name %></td>
                                <td></td>
                                <td>?</td>
                                <td></td>
                                <td><%= member.gender %></td>
                                <td></td>
                                <td>
                                  <% if member.executive?(@group) %>
                                    <label class="badge badge-info">幹事</label>
                                  <% else %>
                                    <label class="badge badge-danger">メンバー</label>
                                  <% end %>
                                </td>
                                <td>
                                  <button class="btn btn-outline-primary">削除</button>
                                </td>
                              </tr>
                            <% end %>
                          <% end %>
                        </table>
                        <%= paginate @members6 if @members6.try(:any?) %>
                      </div>
                    </div>
                  </div>
                </section>
              </div>

              <div class="tab-pane fade" id="contact-5" role="tabpanel" aria-labelledby="contact5-tab">
                <h3>その他</h3>
                <section>
                  <h4 class="card-title">メンバー一覧</h4>
                  <div class="row">
                    <div class="col-12">
                      <div class="table-responsive">
                        <table id="order-listing" class="table">
                          <thead>
                            <tr>
                              <th>名前</th>
                              <th></th>
                              <th>学年</th>
                              <th></th>
                              <th>性別</th>
                              <th></th>
                              <th>ステータス</th>
                              <th>編集</th>
                            </tr>
                          </thead>
                          <% if @others.try(:any?) %>
                            <% @others.each do |other| %>
                              <tr>
                                <td><%= other.name %></td>
                                <td></td>
                                <td>?</td>
                                <td></td>
                                <td><%= other.gender %></td>
                                <td></td>
                                <td>
                                  <% if other.executive?(@group) %>
                                    <label class="badge badge-info">幹事</label>
                                  <% else %>
                                    <label class="badge badge-danger">メンバー</label>
                                  <% end %>
                                </td>
                                <td>
                                  <button class="btn btn-outline-primary">削除</button>
                                </td>
                              </tr>
                            <% end %>
                          <% end %>
                        </table>
                        <%= paginate @others if @others.try(:any?) %>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
      <%= render 'shared/footer' %>
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>

<script>
</script>
