<%= form_tag batch_group_users_path(@group.id), multipart: true do %>
  <%= hidden_field_tag :group_id, :value => current_user.group_id %>
  <%= file_field_tag :file %>
  <%= label :password, "初期パスワード" %>
  <%= password_field_tag :password %>
  <%= submit_tag "インポート" %>
  <p><%= link_to "テンプレートを使用する", csv_template_path(format: :csv), class: "btn btn-primary" %></p>
<% end %>