<ul class="ul2">
  <% if current_user.definitive_registration %>
    <ul class="ul2">
    <li>
      <a href="">
        <div  class="up_tooltip">
          <%= image_pack_tag("mail.png", class: "img-ball") %>
          <span class="up_tooltiptext">お知らせ</span>
        </div>
      </a>
    </li>
  <% end %>

  <li class="fa-suitcase">
    <%= link_to edit_user_registration_path do %>
      <div  class="up_tooltip">
        <%= image_pack_tag("profile.png", class: "img-ball") %>
        <span class="up_tooltiptext">プロフィール</span>
      </div>
    <% end %>
  </li>

  <li class="fa-user">
    <%= link_to destroy_user_session_path, method: :delete do %>
      <div  class="up_tooltip">
        <%= image_pack_tag("logout.png", class: "img-ball") %>
        <span class="up_tooltiptext">ログアウト</span>
      </div>
    <% end %>
  </li>

  <% if current_user.definitive_registration %>
    <li class="fa-flask">
      <%= link_to user_transactions_path(user_id: current_user.id) do %>
        <div  class="up_tooltip">
          <%= image_pack_tag("balance.png", class: "img-ball") %>
          <span class="up_tooltiptext">My収支</span>
        </div>
      <% end %>
    </li>
  <% end %>


  <!--
  <li class="fa-flask">
    <a href="">
      <div  class="up_tooltip">
        <%= image_pack_tag("circle_member.png", class: "img-ball") %>
        <span class="up_tooltiptext">メンバー一覧</span>
      </div>
    </a>
  </li>
  -->
</ul>
