<aside id="sidebar">
  <nav id="global-nav">
    <div><%= image_pack_tag("circle-tree.png", class: "img-logo") %></div>
    <div class="iconbox1">
      <%= link_to root_path do %>
        <div  class="cp_tooltip">
          <%= image_pack_tag("home.png", class: "img-ball") %>
          <span class="cp_tooltiptext">ホーム</span>
        </div>
      <% end %>
    </div>
    <br><br>
    <% unless current_user_group.blank? %>
      <div class="iconbox2">
        <%= link_to group_path(id: current_user_group.id) do %>
          <div  class="cp_tooltip">
            <%= image_pack_tag("circle_page.png", class: "img-ball") %>
            <span class="cp_tooltiptext">サークルページ</span>
          </div>
        <% end %>
      </div>
      <br>
      <div class="iconbox3">
        <%= link_to group_events_path(group_id: current_user_group.id) do %>
          <div  class="cp_tooltip">
            <%= image_pack_tag("event_page.png", class: "img-ball") %>
            <span class="cp_tooltiptext">イベント情報</span>
          </div>
        <% end %>
      </div>
      <br>
      <div class="iconbox4">
        <%= link_to new_group_event_path(group_id: current_user_group.id) do %>
          <div  class="cp_tooltip">
            <%= image_pack_tag("new_event.png", class: "img-ball") %>
            <span class="cp_tooltiptext">イベント作成</span>
          </div>
        <% end %>
      </div>
      <br><br>
      <div class="iconbox5">
        <%= link_to deposit_group_path(id: current_user_group.id) do %>
          <div  class="cp_tooltip">
            <%= image_pack_tag("deposit.png", class: "img-ball") %>
            <span class="cp_tooltiptext">デポジット</span>
          </div>
        <% end %>
      </div>
      <br><br>
      <div class="iconbox6">
        <%= link_to statistics_group_path(id: current_user_group.id) do %>
          <div  class="cp_tooltip">
            <%= image_pack_tag("static.png", class: "img-ball") %>
            <span class="cp_tooltiptext">統計情報</span>
          </div>
        <% end %>
      </div>
      <br><br>
      <div class="iconbox7">
        <%= link_to edit_group_path(id: current_user_group.id) do %>
          <div  class="cp_tooltip">
            <%= image_pack_tag("circle_option.png", class: "img-ball") %>
            <span class="cp_tooltiptext">サークル情報</span>
          </div>
        <% end %>
      </div>
    <% end %>
  </nav>
</aside>
