<% provide(:title, "イベント一覧") %>
<% content_for :pack_tag do %>
  <%= javascript_pack_tag 'events/index' %>
  <%= stylesheet_pack_tag 'events/index' %>
<% end %>

<%= render 'shared/topbar'%>

<div class="box-allevent" date-step="1" data-intro='サークル内の全イベントが表示されています。任意のイベントを選択することで個別の詳細情報が表示されます。'>

  <div class="box-border">
    <p class="text1">イベント一覧</p>
    <p class="text2">イベント名</p>
    <p class="text3">開催日</p>
    <p class="text4">出金額</p>
  </div>

  <button class="button-left-upper">
    <%# <%= image_pack_tag("chevron-left.svg", class: "img-ball") %>
  </button>
  <button class="button-1-upper"></button>
  <button class="button-2-upper"></button>
  <button class="button-3-upper"></button>
  <button class="button-4-upper"></button>
  <button class="button-right-upper">
    <%# <%= image_pack_tag("chevron-right.svg", class: "img-ball") %>
  </button>

  <button class="button-left-bottum">
    <%# <%= image_pack_tag("chevron-left.svg", class: "img-ball") %>
  </button>
  <button class="button-1-bottum"></button>
  <button class="button-2-bottum"></button>
  <button class="button-3-bottum"></button>
  <button class="button-4-bottum"></button>
  <button class="button-right-bottum">
    <%# <%= image_pack_tag("chevron-right.svg", class: "img-ball") %>
  </button>


  <div class="name1"></div>
  <div class="name2"></div>
  <div class="name3"></div>
  <div class="name4"></div>
  <div class="name5"></div>
  <div class="name6"></div>
  <div class="name7"></div>
  <div class="name8"></div>
  <div class="name9"></div>
  <div class="name10"></div>
  <div class="name11"></div>
  <div class="name12"></div>
  <div class="name13"></div>
  <div class="name14"></div>
  <div class="name15"></div>
  <div class="name16"></div>
  <div class="name17"></div>
  <div class="name18"></div>
  <div class="name19"></div>
  <div class="name20"></div>
</div>


<div class="box-shadow">
  <% @events.each do |event| %>
    <div class="namebox"><%= link_to event.name, group_event_path(group_id: event.group_id, id: event.id) %></div>
    <div class="datebox"><%= l event.start_date %> ~ <%= l event.end_date %></div>
    <div class="balancebox">￥<%= event.amount.to_s(:delimited) %></div>
    <div class="change"></div>
    <div class="checkbox"></div> <!--1-->
  <% end %>
</div>

<%= render 'shared/sidebar' %>
<%= render 'shared/menu' %>

