<% provide(:title, "イベント新規作成") %>
<% content_for :pack_tag do %>
  <%= javascript_pack_tag 'events/new' %>
  <%= stylesheet_pack_tag 'events/new' %>
<% end %>
<%= render 'shared/topbar' %>
<div class="box-newevent" date-step="1" data-intro='新規イベントを作成しましょう。'>
  <%= form_for(@event, url: group_events_path(group_id: current_user_group.id)) do |f| %>
    <p class="text1">イベント作成</p>
    <div class="box-border"></div>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :group_id, :value => current_user_group.id %>

    <div date-step="2" data-intro='イベント名を記入しましょう'>
      <%= f.text_field :name, class: "box2", placeholder: 'イベント名' %>
    </div>

    <div type="text" class="box3"><%= current_user_group.name %></div>

    <div date-step="3" data-intro='集金額を設定'>
      <%= f.number_field :amount, class: "box4", placeholder: '集金額' %>
    </div>

    <div onfocus="(this.type='date')" id="date" date-step="4" data-intro='各種日付を登録' >
      <%= f.date_field :pay_deadline, class: "box5", placeholder: '集金締め切り日' %>
    </div>

    <div onfocus="(this.type='date')" id="date" date-step="4" data-intro='各種日付を登録' >
      <%= f.date_field :start_date, class: "box6", placeholder: 'イベント開始日' %>
    </div>

    <div onfocus="(this.type='date')" id="date" date-step="4" data-intro='各種日付を登録' >
      <%= f.date_field :end_date, class: "box7", placeholder: 'イベント終了日' %>
    </div>

    <div onfocus="(this.type='date')" id="date" date-step="4" data-intro='各種日付を登録' >
      <%= f.date_field :answer_deadline, class: "box8", placeholder: '回答締め切り日' %>
    </div>

    <div date-step="5" data-intro='イベントの詳しい情報を記入しましょう'>
      <%= f.text_area :description, class: "box9", placeholder: 'イベントの説明' %>
    </div>

    <%= f.submit "作成", class: "button1" %>
  <% end %>
</div>

<%= render 'shared/sidebar' %>
<%= render 'shared/menu' %>




