<%= form_for(@event) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">

    <%= f.hidden_field :user_id, :value => current_user.id %>

    <%= f.label :group_id, "グループ" %>
    <% groups = [] %>
    <% GroupUser.where(user_id: current_user.id, role: 0).each do |relationship| %>
      <% groups << Group.find(relationship.group_id) %>
    <% end %>
    <%= f.select :group_id,
        options_from_collection_for_select(groups, :id, :name),
          {
            class: "form-control", :prompt => "選択できます"
          } 
    %> <br />

    <%= f.label :name, "イベント名" %>
    <%= f.text_field :name, class: "form-control", placeholder: "例）夏合宿・飲み会" %><br />

    <%= f.label :start_date, "開始日" %>
    <%= f.date_field :start_date, class: "form-control" %><br />

    <%= f.label :end_date, "終了日" %>
    <%= f.date_field :end_date, class: "form-control" %><br />

    <%= f.label :amount, "金額" %>
    <%= f.number_field :amount, class: "form-control" %><br />

    <%= f.label :description, "イベント説明" %>
    <%= f.text_area :description, class: "form-control", placeholder: "集合場所・時間" %><br />

    <%= f.label :pay_deadline, "支払い期日" %>
    <%= f.date_field :pay_deadline, class: "form-control" %><br />

    <%= f.submit "作成"%>
  </div>
<% end %>