<h1>イベント名： <%= @event.name %></h1>
<h2>作成者： <%= current_user.name %></h4>
<h2><%=  link_to "追加！", new_event_transaction_path(event_id: @event.id) %></h4>

<% if @transactions.any? %>
  <% @transactions.each do |transaction| %>
    <% debtor = User.find(transaction.debtor_id) %>
    <p>借りた人： <%= debtor.name %></p>
    <p>金額： <%= transaction.debt %>円</p>
    <p>返済期限： <%= transaction.deadline.strftime("%Y年%m月%d日") %></p>
    <% if transaction.debt == transaction.payment %>
      <p>支払い済み(<%= link_to "領収書発行", receipt_group_event_transaction_path(group_id: @group.id, event_id: @event.id, id: transaction.id, format: "pdf") %>)</p>
    <% else %>
      <p><%= transaction.payment %>円支払い済み</p>
    <% end %>
    <hr>
  <% end %>
<% end %>