<% provide(:title, "#{@event.name}ページ") %>

<div class="sidebar-fixed container-scroller" style="background-color: rgb(44, 44, 44);">
  <%= render 'shared/sidebar' %>
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_navbar.html -->
    <%= render 'shared/topbar' %>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="page-header">
          <h3 class="page-title"> イベント名 </h3>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">イベント情報</a></li>
              <li class="breadcrumb-item active" aria-current="page">イベント一覧</li>
              <li class="breadcrumb-item active" aria-current="page">イベント名</li>
            </ol>
          </nav>
        </div>

        <%= render 'events/show/attending_members' %>
        <%= render 'events/show/absent_members' %>
        <%= render 'events/show/uncompleted_members' %>
        <%= render 'events/show/unanswered_members' %>

        </div>
        <div class="row">
          <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Pie chart</h4>
                <canvas id="pieChart" style="height:250px"></canvas>
              </div>
            </div>
          </div>
          <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Scatter chart</h4>
                <canvas id="scatterChart" style="height:250px"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <%# <button id="event-delete-button" class="btn btn-danger col-md-12" onclick="showSwal('warning-message-and-cancel')" %>
            <%# 削除 %>
          <%# </button> %>
          <%= link_to '削除', group_event_path(group_id: @event.group_id, id: @event.id), method: :delete, class: "btn btn-danger col-md-12", data: { confirm: '本当に削除しますか？' } %>
        </div>
      </div>
      <!-- content-wrapper ends -->

      <%= render 'shared/footer' %>
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<script>
  (function($) {
    'use strict';
    $(function() {
      $('#order-listing').DataTable({
        "aLengthMenu": [
          [5, 10, 15, -1],
          [5, 10, 15, "All"]
        ],
        "iDisplayLength": 10,
        "language": {
          search: ""
        }
      });
      $('#order-listing').each(function() {
        var datatable = $(this);
        // SEARCH - Add the placeholder for Search and Turn this into in-line form control
        var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
        search_input.attr('placeholder', 'Search');
        search_input.removeClass('form-control-sm');
        // LENGTH - Inline-Form control
        var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
        length_sel.removeClass('form-control-sm');
      });
    });
  })(jQuery);
</script>
<script>
  (function($) {
    'use strict';
    if ($('#pagination-demo').length) {
      $('#pagination-demo').twbsPagination({
        totalPages: 35,
        visiblePages: 7,
        onPageClick: function(event, page) {
          $('#page-content').text('Page ' + page);
        }
      });
    }

    if ($('.sync-pagination').length) {
      $('.sync-pagination').twbsPagination({
        totalPages: 20,
        onPageClick: function(evt, page) {
          $('#content').text('Page ' + page);
        }
      });
    }
  })(jQuery);
</script>
<script>
  // (function($) {
  //   button = $('#event-delete-button')
  //   button.on('click', function(e) {
  //     e.preventDefault();
  //     let options = {
  //       title: '本当に削除しますか？',
  //       text: "イベントに関する情報も失われます！",
  //       icon: 'warning',
  //       showCancelButton: true,
  //       confirmButtonColor: '#3f51b5',
  //       cancelButtonColor: '#ff4081',
  //       confirmButtonText: 'Great ',
  //       buttons: {
  //         cancel: {
  //           text: "Cancel",
  //           value: null,
  //           visible: true,
  //           className: "btn btn-danger",
  //           closeModal: true,
  //         },
  //         confirm: {
  //           text: "OK",
  //           value: true,
  //           visible: true,
  //           className: "btn btn-primary",
  //           closeModal: true
  //         }
  //       }
  //     };
  //     swal(options).then(function(val) {
  //       if (val) {
  //         // Okボタンが押された時の処理
  //         let groupId = button.data('group-id');
  //         let eventId = button.data('event-id');
  //         let url1 = `/groups/${groupId}/events/${eventId}`;
  //         $.ajax({
  //           url: url1,
  //           type: 'DELETE',
  //           // processData: false,
  //           contentType: false,
  //           async: false
  //         })
  //         .done(function() {
  //           let url2 = `/groups/${groupId}/events/`;
  //           window.location.href = url2;
  //         })
  //         .fail(function() {
  //           swal({
  //           text: "エラーが発生しました",
  //           icon: "warning",
  //           buttons: false,
  //           timer: 1000
  //           });
  //         });
  //       } else {
  //         // キャンセルボタンを押した時の処理
  //         swal({
  //           text: "キャンセルされました",
  //           icon: "warning",
  //           buttons: false,
  //           timer: 1000
  //         });
  //       }
  //     })
  //   });
  // })(jQuery);
</script>
