<h2>イベント名： <%= @event.name %>(
  <% if @executives.include?(current_user) %>
    <%= link_to "イベント内容変更", edit_group_event_path(group_id: @group.id, id: @event.id) %>
  <% end %>
  )</h2>
<h3>作成者： <%= User.find(@event.user_id).name %></h3>
<% if @event.start_date == @event.end_date %>
  <p>イベント日時： <%=  @event.start_date.strftime("%Y/%m/%d") %></p>
<% else %>
  <p>イベント日時：　<%= @event.start_date.strftime("%Y/%m/%d") %> ~ <%= @event.end_date.strftime("%Y/%m/%d") %> </p>
<% end %>
<p>金額： <%= @event.amount %></p>
<p>支払い締め切り日： <%= @event.pay_deadline.strftime("%Y/%m/%d") %></p>
<p>イベント説明： <%= @event.description %></p>
<hr>
<h2>出欠回答</h2>
<% if @answer.blank? || @answer.status == "unanswered" %>
  <%= form_with model: @answer, url: event_answer_path(event_id: @event.id, id: @answer.id) do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :event_id, value: @event.id %>
    <%= f.select :status, [["未回答", "unanswered"], ["参加", "attending"], ["不参加", "absent"]] %>
    <%= f.submit "回答送信" %>
  <% end %>
<% else %>
  <%= form_with model: @answer, url: event_answer_path(event_id: @event.id, id: @answer.id) do |f| %>
    <%= f.select :status, [["参加", "attending"], ["不参加", "absent"]]%>
    <%= f.submit "回答変更" %>
  <% end %>
<% end %>

<% if @executives.include?(current_user) %>
  <hr>
  <h1>幹事用<h1>
  <h2>イベントの統計</h2>
  <hr>
  <h2>出欠情報</h2>
  <p>参加者</p>
  <% @count1 = 0 %>
  <% @attending_answers.each do |a| %>
    <p><%= User.find(a.user_id).name %></p>
    <% @count1 += 1 %>
  <% end %>
  <% if @count1 == 0 %>
    <p>まだ誰もいません</p>
  <% end %>
  <p>欠席者</p>
  <% @count2 = 0 %>
  <% @absent_answers.each do |a| %>
    <p><%= User.find(a.user_id).name %></p>
    <% @count2 += 1 %>
  <% end %>
  <% if @count2 == 0%>
    <p>まだ誰もいません</p>
  <% end %>
  <p>未回答者</p>
  <% @count3 = 0 %>
  <% @unanswered_answers.each do |a| %>
    <p><%= User.find(a.user_id).name %></p>
    <% @count3 += 1 %>
  <% end %>
  <% if @count3 == 0 %>
    <p>全員回答しました</p>
  <% end %>
  <p>参加(<%= @count1 %>) | 欠席(<%= @count2 %>) | 未回答(<%= @count3 %>) | 総数(<%= @count %>)</p>
  <hr>
  <h2>収支情報</h2>
  <h3>未払い</h3>
  <% if @uncompleted_transactions.any? %>
    <% @uncompleted_transactions.each do |transaction| %>
      <% debtor = User.find(transaction.debtor_id) %>
      <p>名前： <%= debtor.name %></p>
      <p>金額： <%= transaction.debt %>円</p>
      <% payment = transaction.payment%>
      <p>支払った金額： <%= transaction.payment %>円</p>
      <hr>
    <% end %>
  <% else %>
    <p>まだ誰もいません</p>
  <% end %>
  <h3>支払い済み</h3>
  <% if @completed_transactions.any? %>
    <% @completed_transactions.each do |transaction| %>
      <% debtor = User.find(transaction.debtor_id) %>
      <p>名前： <%= debtor.name %></p>
      <p>金額： <%= transaction.debt %>円</p>
      <p><%= link_to "領収書発行", receipt_event_transaction_path(event_id: @event.id, url_token: transaction.url_token, format: "pdf") %></p>
      <hr>
    <% end %>
  <% else %>
    <p>まだ誰もいません</p>
  <% end %>
<% end %>
