%div
  = form_tag({:controller => "orders", :action => "submit" }, {:id => 'order-details'}) do
    .form_row
      %h2 List of Products
      - @products.each do |product|
        %div
          = radio_button_tag 'orders[product_id]', product.id
          %span{id: "radioButtonName#{product.id}"} #{product.name}
          %span{id: "radioButtonPrice#{product.id}", :'data-price' => "#{product.price_cents}"} #{humanized_money_with_symbol product.price}
        %br
    %hr
    .form_row
      %div
        = radio_button_tag 'payment-selection', 'paypal', true, onclick: "changeTab();"
        %span PayPal
    %br
    %br
    %div{id:'tab-paypal', class:'paymentSelectionTab'}
      %div{id: "submit-paypal"}
    %br
    %br
    %hr

:javascript
  function changeTab() {
    var newActiveTabID = $('input[name="payment-selection"]:checked').val();
    $('.paymentSelectionTab').removeClass('active');
    $('#tab-' + newActiveTabID).addClass('active');
  }

:css
  .paymentSelectionTab {
    display: none;
  }
  .paymentSelectionTab.active {
    display: block !important;
  }
