<% provide(:title, "グループ作成") %>
<h1>STEP 1</h1>
<%= form_for @group, url: step2_orders_path, method: :get do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">

    <%= f.label :name, "グループ名" %>
    <%= f.text_field :name, class: "form-control", placeholder: "例）○○テニスサークル" %><br />

    <%= f.label :email, " 代表者メールアドレス" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %><br />

    <%= f.label :group_number, "グループID(6~25文字)" %>
    <%= f.text_field :group_number, class: "form-control", placeholder: "英数字と_を使用できます)" %><br />

    <%= f.submit "作成" %>

  </div>
<% end %>


