<!-- カレンダー、更新情報 -->
<% if user_signed_in? %>
  <h4> メールアドレス： <%= current_user.email %> </h4>
  <% if @executive_relationships.any? %>
    <p><%= link_to "グループ新規作成", new_group_path %></p>
  <% end %>
  <hr>
  <p>所属グループ：</p>
  <% if @relationships.any? %>
    <% @relationships.each do |relationship| %>
      <% group = Group.find(relationship.group_id) %>
      <p><%= link_to group.name, group_path(group) %></p>
    <% end %>
  <% end %>
  <hr>
  <p>イベント一覧：</p>
  <% if @events.any? %>
    <% @events.each do |event| %>
      <p><%= link_to event.name, group_event_path(group_id: event.group_id, id: event.id) %></p>
    <% end %>
  <% end %>
  <hr>
  <p>収支情報：</p>
  <% if @transactions.any? %>
    <% @transactions.each do |transaction| %>
      <p><%= transaction.url_token %></p>
    <% end %>
  <% end %>
<% end %>