<div class="sidebar-fixed container-scroller" style="background-color: rgb(44, 44, 44);">
  <!-- partial:partials/_sidebar.html -->
  <nav class="sidebar sidebar-offcanvas" id="sidebar" >
    <%= render 'shared/logo'%>
    <ul class="nav">
      <%= render 'shared/profile' %>
      <li class="nav-item menu-items active">
        <%= link_to root_path, class: "nav-link" do %>
          <span class="menu-icon">
            <i class="mdi mdi-home" style="color: blue;"></i>
          </span>
          <span class="menu-title">ホーム</span>
        <% end %>
      </li>

      <li class="nav-item menu-items">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <span class="menu-icon">
            <i class="mdi mdi-account"></i>
          </span>
          <span class="menu-title">マイページ</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <% if current_user.definitive_registration %>
              <li class="nav-item"> <a class="nav-link" href="#">お知らせ</a></li>
              <li class="nav-item"> <a class="nav-link" href="#">Myカレンダー</a></li>
              <li class="nav-item"> <%= link_to 'My収支情報', user_transactions_path(user_id: current_user.id), class: "nav-link" %></li>
              <li class="nav-item"> <a class="nav-link" href="#">イベント一覧</a></li>
            <% end %>
            <li class="nav-item"> <%= link_to 'プロフィール変更', edit_user_registration_path, class: "nav-link" %></li>
          </ul>
        </div>
      </li>
      <% unless current_user_group.blank? %>
        <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#page-layouts" aria-expanded="false" aria-controls="page-layouts">
            <span class="menu-icon">
              <i class="mdi mdi-account-multiple"></i>
            </span>
            <span class="menu-title">サークルページ</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="page-layouts">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="#">サークルプロフィール</a></li>
              <li class="nav-item"> <a class="nav-link" href="#">サークルカレンダー</a></li>
              <li class="nav-item"> <%= link_to '統計情報', statistics_group_path(id: current_user_group.id), class: "nav-link" %></li>
              <li class="nav-item"> <%= link_to 'デポジット', deposit_group_path(id: current_user_group.id), class: "nav-link" %></li>

            </ul>
          </div>
        </li>

        <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#sidebar-layouts" aria-expanded="false" aria-controls="sidebar-layouts">
            <span class="menu-icon">
              <i class="mdi mdi-message-text-outline"></i>
            </span>
            <span class="menu-title">イベント情報</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="sidebar-layouts">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <%= link_to 'イベント作成', new_group_event_path(group_id: current_user_group.id), class: "nav-link" %></li>
              <li class="nav-item"> <a class="nav-link" href="#">イベント一覧</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#ui-advanced" aria-expanded="false" aria-controls="ui-advanced">
            <span class="menu-icon">
              <i class="mdi mdi-settings" style="color: blueviolet;"></i>
            </span>
            <span class="menu-title">サークル設定</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-advanced">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="#">メンバー情報</a></li>
              <li class="nav-item"> <a class="nav-link" href="#">メンバー設定</a></li>
              <li class="nav-item"> <a class="nav-link" href="#">サークル情報</a></li>
              <li class="nav-item"> <a class="nav-link" href="#">支払い情報</a></li>
            </ul>
          </div>
        </li>
      <% end %>

      <li class="nav-item menu-items">
        <a class="nav-link" href="#">
          <span class="menu-icon">
            <i class="mdi mdi-help-circle-outline" style="color: chartreuse;"></i>
          </span>
          <span class="menu-title">FAQ</span>
        </a>
      </li>

      <li class="nav-item menu-items">
        <a class="nav-link" href="#">
          <span class="menu-icon">
            <i class="mdi mdi-apps" style="color:yellow;"></i>
          </span>
          <span class="menu-title">カスタム</span>
        </a>
      </li>

    </ul>
  </nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_navbar.html -->
    <%= render 'shared/topbar' %>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <%= render 'shared/ad' %>
        <%= render 'new_imformation' %>
        <div class="row">
          <%= render 'my_groups' %>
          <%= render 'my_balance' %>
          <%= render 'events' %>
        </div>
        <%= render 'latest_events' %>
      </div>
      <!-- content-wrapper ends -->
      <%= render 'shared/footer' %>
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
