<% provide(:title, "ホーム") %>
<% content_for :pack_tag do %>
  <%= javascript_pack_tag 'homes/index' %>
  <%= stylesheet_pack_tag 'homes/index' %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
          plugins: [ 'interaction', 'dayGrid', 'timeGrid' ],
          header: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay'
        },
        defaultDate: '2020-03-12',
        navLinks: true, // can click day/week names to navigate views
        selectable: true,
        selectMirror: true,
        select: function(arg) {
          var title = prompt('Event Title:');
          if (title) {
            calendar.addEvent({
              title: title,
              start: arg.start,
              end: arg.end,
              allDay: arg.allDay
            })
          }
          calendar.unselect()
        },
        editable: true,
        eventLimit: true, // allow "more" link when too many events
        events: [

        ]
      });

      calendar.render();
    });
</script>

<style>
#calendar {
  position:absolute;
  top: 50%;                    /* 親要素の半分下にずらす */
  left: 50%;
  width: 80%;
  height: 100%;                 /* 親要素の半分右にずらす */
  transform: translateY(-50%) translateX(-50%);    /* 要素自体の半分、上と左にずらす */
  padding: 20px;               /* 余白指定 */
}
</style>
<% end %>

<div class="back"></div>
<div class="topbar1" >
  <input type="search" class="search">
  <button  onclick="introJs().start()" class="help"
  date-step="1"
  data-intro='ホーム画面へようこそ。ヘルプではチュートリアルを見ることができます。
  またヘルプはいつでも開けます。ページ内でわからないことがあれば押してみてください。'>
    <%= image_pack_tag("help.png", class: "img-ball") %>
  </button>
</div>

<div class="calender1" date-step="2" data-intro='カレンダーにはサークルのイベントが自動で表示されます。'>
  <div id="calendar"></div>
</div>



<div class="box-circle" date-step="3" data-intro='所属サークル一覧では自分が見たいサークルを選びます。'>
  <% @groups.each do |group| %>
    <% user = current_user %>
    <% if group.my_own_group?(user) %>
      <%= link_to group.name, group_path(id: group.id), class: "datebox" %>
    <% else %>
      <div class="datebox"><%= group.name %></div>
    <% end %>
  <% end %>

  <div class="box-border"></div>
  <p class="text2">所属サークル</p>
  <button class="button3" onclick="">サークル作成</button>
</div>

<div class="box-inf" date-step="4" data-intro='更新情報ではサークル内の最新情報が掲載されます。'>
  <div class="box-border"></div>
  <p class="text4">更新情報</p>
  <% if @new_events.blank? %>
    <p>更新情報はありません</p>
  <% else %>
    <% @new_events.each do |event| %>
      <%= link_to event.name, group_event_path(group_id: event.group_id, id: event.id), class: "datebox" %>
    <% end %>
  <% end %>
</div>

<div class="box-event" date-step="5" data-intro='イベント情報には直近のイベントが表示されます。出欠の確認はここから回答します。'>
  <div class="boader4"></div>
  <a href="" class="text5">イベント情報</a>
  <% @events.each do |event| %>
    <%= link_to event.name, group_event_path(group_id: event.group_id, id: event.id), class: "datebox" %>
  <% end %>
  <%= paginate @events %>

  <%# <button class="button1"> %>
    <%# <%= image_pack_tag("chevron-left.svg", class: "img-ball") %>
  <%# </button> %>
  <%# <button class="button2"> %>
    <%# <%= image_pack_tag("chevron-right.svg", class: "img-ball") %>
  <%# </button> %>
</div>

<div class="box-balance" date-step="6" data-intro='収支情報はあなたがサークルに支払わなければならない金額を示しています。'>
  <div style="position:absolute;
    top: 50%;                    /* 親要素の半分下にずらす */
    left: 50%;                   /* 親要素の半分右にずらす */
    width: 170%;
    transform: translateY(-50%) translateX(-50%);    /* 要素自体の半分、上と左にずらす */
    ">
    <canvas id="Balance"></canvas>
  </div>
  <a href="" class="text6">収支管理</a>
</div>
<%= render 'shared/sidebar' %>
<%= render 'shared/menu' %>

<script>
  let a = <%= 200 %>;
  let b = <%= 40 %>;
  new Chart(document.getElementById("Balance"), {
    type: "doughnut",
    data: {
      labels: ["支払い済み","未払い"],
      datasets: [
        {
          data: [a, b],
          backgroundColor: [
            "rgb(54, 162, 235)",
            "rgb(255, 99, 132)",
          ]
        }
      ]
    }
  });
</script>
