<div class="sidebar-fixed container-scroller" style="background-color: rgb(44, 44, 44);">
  <%= render 'shared/sidebar' %>
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_navbar.html -->
    <%= render 'shared/topbar' %>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <%= render 'shared/ad' %>
        <%= render 'new_imformation' %>
        <div class="row">
          <%= render 'my_groups' %>
          <%= render 'my_balance' %>
          <%= render 'events' %>
        </div>
        <%= render 'latest_events' %>
      </div>
      <!-- content-wrapper ends -->
      <%= render 'shared/footer' %>
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
