
<% if user_signed_in? %>
  <h2> 現在 <%= current_user.name %> さんがログインしています </h2>
  <h4> メールアドレス： <%= current_user.email %> </h4>
  <% relationships = GroupUser.where(user_id: current_user.id) %>
  <% unless relationships.any? %>
    <% relationships.each do |relationship| %>
      <p><%= User.find(relationship.user_id) %></p>
    <% end %>
  <% end %>
  <p><%= link_to "グループ新規作成", new_group_path %></p>
  <p><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></p>
  <%# 決済ボタン %>
<% end %>