<div class="card" style="margin-bottom: 20px;">
  <div class="card-body">
    <h4 class="card-title">未納</h4>
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table id="order-listing" class="table">
            <thead>
              <tr>
                <th>名前</th>
                <th>回答日</th>
                <th>学年</th>

                <th>出金額</th>
                <th>提出額</th>

                <th>何か</th>
                <th>出金状況</th>
                <th>編集</th>
              </tr>
            </thead>
            <tbody>
            <% @uncompleted_transactions.each do |transaction| %>
              <% user = User.find(transaction.debtor_id) %>
              <tr>
                <td><%= user.name %></td>
                <td>?</td>
                <td><%= user.grade %></td>
                <td>￥<%= transaction.debt %></td>
                <td>￥<%= transaction.payment %></td>
                <td>?</td>
                <td>
                  <% if transaction.completed? %>
                    <%= link_to '完了', receipt_event_transaction_path(event_id: transaction.event_id, url_token: transaction.url_token, format: 'pdf') %>
                  <% else %>
                    <%= form_with model: transaction, url: transaction_path(url_token: transaction.url_token) do |f| %>
                      <%= f.select :completed, [['完了', true], ['未完了', false]], {}, { class: "btn btn-secondary", style: "background-color:rgb(236, 236, 236)" } %>
                    <% end %>
                  <% end %>
                </td>
                <td>
                  <%= link_to '変更する', edit_transaction_path(url_token: transaction.url_token), class: "btn btn-outline-primary" %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
          <button type="button" class="btn btn-danger btn-icon-text" style="margin-top: 30px;">
            <i class="mdi mdi-check"></i> 保存
          </button>
          <%= paginate @uncompleted_transactions %>
        </div>
      </div>
    </div>
  </div>
</div>
