<% provide(:title, "My収支情報ページ") %>
<div class="sidebar-fixed container-scroller" style="background-color: rgb(44, 44, 44);">
  <%= render 'shared/sidebar' %>
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_navbar.html -->
    <%= render 'shared/topbar' %>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-12 grid-margin stretch-card">
            <div class="card corona-gradient-card">
              <div class="card-body py-0 px-0 px-sm-3">
                <div class="row align-items-center">
                  <div class="col-4 col-sm-3 col-xl-2">
                    <img src="#" class="gradient-corona-img img-fluid" alt="">
                  </div>
                  <div class="col-5 col-sm-7 col-xl-8 p-0">
                    <h4 class="mb-1 mb-sm-0">広告？</h4>
                    <p class="mb-0 font-weight-normal d-none d-sm-block">Corona admin template now with a new facelift for enhanced legibility and aesthetics!</p>
                  </div>
                  <div class="col-3 col-sm-2 col-xl-2 pl-0 text-center">
                    <button class="btn btn-outline-light btn-rounded get-started-btn">Get Started</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body" style="color: white;">
                <h4 class="card-title">My収支情報</h4>
                <canvas id="transaction-history" class="transaction-chart"
                        data-total-payment="<%= @total_payment %>"
                        data-total-unpaid-debt="<%= @total_unpaid_debt %>"
                        data-total-expected-debt="<%= @total_expected_debt %>"></canvas>
                <% if @urgent_expected_debts.present? %>
                  <% @urgent_expected_debts.each do |debt| %>
                    <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                      <div class="text-md-center text-xl-left">
                        <h6 class="mb-1">期限間近の支払い</h6>
                        <p class="text-muted mb-0">
                          <% if debt.event_id.present? %>
                            <% event = Event.find(debt.event_id) %>
                            <%= link_to event.name, group_event_path(group_id: event.group_id, id: event.id) %>
                          <% else %>
                            <%= User.find(debt.creditor_id).name %>
                          <% end %>
                        </p>
                      </div>
                      <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                        <h6 class="font-weight-bold mb-0">￥<%= debt.debt - debt.payment %></h6>
                      </div>
                    </div>
                  <% end %>
                <% end %>
                <%# <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                  <div class="text-md-center text-xl-left">
                    <h6 class="mb-1">最近の収支</h6>
                    <p class="text-muted mb-0">07 Jan 2019, 09:12AM</p>
                  </div>
                  <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                    <h6 class="font-weight-bold mb-0">$593</h6>
                  </div>
                </div> %>
              </div>
            </div>
          </div>
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body" style="color: black;">
                <h4 class="card-title">収支履歴</h4>
                <div class="row">
                  <div class="col-12">
                    <div class="table-responsive">
                      <table id="order-listing" class="table">
                        <thead>
                          <tr>
                            <th>誰から</th>
                            <th></th>
                            <th>支払い期限</th>
                            <th></th>
                            <th>いくら</th>
                            <th></th>
                            <th>状態(あったら)</th>
                            <th>領収書発行</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% @transactions.each do |transaction| %>
                            <% if event_id = transaction.event_id%>
                              <% event = Event.find(event_id) %>
                              <% group = Group.find(event.group_id) %>
                            <% end %>
                            <tr>
                              <td><%= event.name %></td>
                              <td><%= group.name %></td>
                              <td><%= l transaction.deadline, format: :short %></td>
                              <td>?</td>
                              <td>￥<%= transaction.debt %></td>
                              <td>￥<%= transaction.payment %></td>
                              <% if transaction.completed? %>
                                <td>
                                  <label class="badge badge-success">完了</label>
                                </td>
                                <td>
                                  <%= link_to "発行", receipt_transaction_path(url_token: transaction.url_token, format: "pdf"), class: "btn btn-outline-primary" %>
                                </td>
                              <% else %>
                                <td>
                                  <label class="badge badge-danger">未払い</label>
                                </td>
                                <td>?</td>
                              <% end %>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                      <%= paginate @transactions %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->
      <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
          <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2019 <a href="https://www.bootstrapdash.com/" target="_blank">BootstrapDash</a>. All rights reserved.</span>
          <span class="text-muted float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
        </div>
      </footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<script>
  (function($) {
  'use strict';
  $.fn.andSelf = function() {
    return this.addBack.apply(this, arguments);
  }
  $(function() {
    if ($("#transaction-history").length) {
      var $transactionHistory = $('#transaction-history');
      var $totalPayment = $transactionHistory.data('total-payment');
      var $totalUnpaidDebt = $transactionHistory.data('total-unpaid-debt');
      var $totalExpectedDebt = $transactionHistory.data('total-expected-debt');
      var areaData = {
        labels: ["支払った金額", "支払い予定金額","未払い金額"],
        datasets: [{
            data: [$totalPayment, $totalExpectedDebt, $totalUnpaidDebt],
            backgroundColor: [
              "#111111","#00d25b","#ffab00"
            ]
          }
        ]
      };
      var areaOptions = {
        responsive: true,
        maintainAspectRatio: true,
        segmentShowStroke: false,
        cutoutPercentage: 70,
        elements: {
          arc: {
              borderWidth: 0
          }
        },
        legend: {
          display: false
        },
        tooltips: {
          enabled: true
        }
      }
      var transactionhistoryChartPlugins = {
        beforeDraw: function(chart) {
          var width = chart.chart.width,
              height = chart.chart.height,
              ctx = chart.chart.ctx;

          ctx.restore();
          var fontSize = 1;
          ctx.font = fontSize + "rem sans-serif";
          ctx.textAlign = 'left';
          ctx.textBaseline = "middle";
          ctx.fillStyle = "#ffffff";

          var text = "$1200",
              textX = Math.round((width - ctx.measureText(text).width) / 2),
              textY = height / 2.4;

          ctx.fillText(text, textX, textY);

          ctx.restore();
          var fontSize = 0.75;
          ctx.font = fontSize + "rem sans-serif";
          ctx.textAlign = 'left';
          ctx.textBaseline = "middle";
          ctx.fillStyle = "#6c7293";

          var texts = "支払い",
              textsX = Math.round((width - ctx.measureText(text).width) / 1.93),
              textsY = height / 1.7;

          ctx.fillText(texts, textsX, textsY);
          ctx.save();
        }
      }
      var transactionhistoryChartCanvas = $("#transaction-history").get(0).getContext("2d");
      var transactionhistoryChart = new Chart(transactionhistoryChartCanvas, {
        type: 'doughnut',
        data: areaData,
        options: areaOptions,
        plugins: transactionhistoryChartPlugins
      });
    }
  });
})(jQuery);
</script>

