<% provide(:title, "My収支情報ページ") %>
<% content_for :pack_tag do %>
  <%= javascript_pack_tag 'transactions/index' %>
  <%#= stylesheet_pack_tag 'transactions/index' %>
<% end %>
<h2>My収支情報ページ</h2>
<p>支払い<%= @paid_total_amount %>円 | 未払い<%= @unpaid_total_amount %>円</p>
<% @transactions.each do |t| %>
  <% event = Event.find(t.event_id) %>
  <% group = Group.find(t.group_id) %>
  <p><%= link_to event.name, group_event_path(group_id: group.id, id: event.id) %></p>
  <p><%= event.start_date.strftime("%m/%d") %> ~ <%= event.end_date.strftime("%m/%d") %></p>
  <% payment = t.payment %>
  <% if t.completed? %>
    <p><%= payment %>円(<%= link_to "領収書発行", receipt_event_transaction_path(event_id: event.id, url_token: t.url_token, format: "pdf") %>)</p>
  <% else %>
    <p><%= payment %>円(未払いあり)</p>
  <% end %>
<% end %>
<%= paginate @transactions %>

