<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag    'application', media: 'all' %>
    <%#= javascript_include_tag 'application' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Ensures optimal rendering on mobile devices. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->
  </head>
  
  <body>
    <header>
      <%= link_to "ホーム", root_path%>
      <% if user_signed_in? %>
        <h2><%= current_user.name %>さん</h2>
        <ul>
          <p>ナビゲーションバー</p>
          <% if current_user.definitive_registration %>
            <li><%= link_to "My収支情報", user_transactions_path(current_user.id) %></li>
            <li><%= link_to "ユーザー設定", edit_user_registration_path %></li>
          <% end %>
          <li><%= link_to "ログアウト（エラーでまだできない）", destroy_user_session_path, method: :delete %></li>
          <li><%= link_to "設定", edit_user_registration_path %></li>
      <% else %>
          <li><%= link_to "ログイン", new_user_session_path %></li>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
        </ul>
      <% end %>
    </header>
    <div class="container">
      <% flash.each do |message_type, message| %>
    　   <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
