<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag    'application', media: 'all' %>
    <%#= javascript_include_tag 'application' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Ensures optimal rendering on mobile devices. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->
  </head>
  
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "ホーム", root_path, id: "logo" %>
        <nav class="navbar-right">
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
            　<li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
              <% if current_user.definitive_registration %>
                <li><%= link_to "グループ一覧", groups_path %></li>
                <li><%= link_to "イベント一覧", events_path %></li>
                <li><%= link_to "イベント新規作成", new_event_path %></li>
              <% end %>
              <li><%= link_to "設定", edit_user_registration_path %></li>
            <% else %>
              <li><%= link_to "ログイン", new_user_session_path, class: 'post' %></li>
              <li><%= link_to "幹事用新規登録", new_user_registration_path, class: 'post' %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <% flash.each do |message_type, message| %>
    　   <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
